name: Spring boot docker image CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu:latest

    steps:
      - uses: actions/checkout@v3 # 폴더에 있는 파일 복사해주는 action

      - name: Setup JDK17 
        uses: actions/setup-java@v3 # 자바에관한 정보를 PATH에 설정해줌
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: gradlew 파일 실행 권한 설정
        run: chmod +x gradlew

      - name: Test with gradle
        run: ./gradlew --info test

      - name: Spring boot 실행파일 생성
        run: ./gradlew bootJar ## Jar파일 생성, 부트가능한 Jar파일 만들겠다.

      - name: docker image 생성
        run: docker build -t saedallae/devops_step2:v1.0

      - name: docker login
        uses: docker/login-action@v1
        with:
          username: saedallae
          password: ${{secrets.DOCKER_PASSWORD}}
        ## docker login -u saedallae -p ${{secrets.DOCKER_PASSWORD}}
      - name: docker image 허브에 저장
        run: docker push saedallae/devops_step2:v1.0
          
  deploy:
    needs: build
    name: Deploy
    runs-on: self-hosted
    
    steps:
      - name: docker login
        uses: docker/login-action@v1
        with:
          username: saedallae
          password: ${{secrets.DOCKER_PASSWORD}}


      - name: docker image pull
        run: docker pull saedallae/devops_step2:v1.0
        
