name: Spring boot docker image CI/CD

on:
  push:
    branches: [ main ]

env:
  DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
  DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}

jobs:
  build:
    # 1. runs-on: ubuntu-latest (콜론 제거)
    runs-on: self-hosted
    
    steps:
#      - uses: actions/checkout@v3
#      - name: Setup JDK17
#        uses: actions/setup-java@v3
#        with:
#          java-version: '17'
#          distribution: 'temurin'
      - name: 폴더 정리  
        run: rm -rf kosa-devops-step2
      - name: 소스 복사 
        run: git clone https://github.com/hozi-yb/kosa-devops-step2

      - name: gradlew 파일 실행 권한 설정
        run: |
          cd kosa-devops-step2
          chmod +x gradlew
        
      - name: Test with gradle
        run: |
          cd kosa-devops-step2
          ./gradlew --info test
        
      - name: Spring boot 실행파일 생성
        run: |
          cd kosa-devops-step2
          ./gradlew bootJar

      # 2. docker build 뒤에 빌드 컨텍스트 (.) 추가
      - name: docker image 생성
        run: |
          cd kosa-devops-step2
          docker build -t ${{env.DOCKER_USERNAME}}/devops_step2:latest .
        
      - name: docker login
        uses: docker/login-action@v1
        with:
          username: ${{env.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
          
      # 3. Step 이름 오타 수정 및 Docker Hub에 Push
      - name: docker image 허브에 저장
        run: |
          cd kosa-devops-step2
          docker push ${{env.DOCKER_USERNAME}}/devops_step2:latest
      
#      - name: 파일 업로드 
#        uses: actions/upload-artifact@v4
#        with:
#          name: my-artifact
#          path: |
#            kosa-devops-step2/docker-compose_nginx.yml
#            kosa-devops-step2/nginx/nginx.conf


  deploy:
    needs: build
    name: Deploy
    runs-on: self-hosted
    steps:

    #  - uses: actions/checkout@v3
    #    with:
    #      sparse-checkout: |
    #        docker-compose_nginx.yml
    #        nginx/nginx.conf
    #      sparse-checkout-cone-mode: false
    #      clean: true
#      - name: 파일 다운로드 file download
#        uses: actions/download-artifact@v4
#        with:
##          name: my-artifact
#
#      - name: docker login
#        uses: docker/login-action@v1
#        with:
#          username: ${{env.DOCKER_USERNAME}}
#          password: ${{secrets.DOCKER_PASSWORD}}
#          
#      # 4. docker pull 명령에 태그(latest) 추가
#      - name: docker image pull
#        run: docker pull ${{env.DOCKER_USERNAME}}/devops_step2:latest
#
#      - name: docker-compose up 실행
#        run: docker compose -f docker-compose_nginx.yml up -d
#
      - name: 운영서버로 파일 복사
        run: | 
          cd kosa-devops-step2
          scp ./docker-compose_nginx.yml aws-master:~
          scp ./nginx/nginx.conf aws-master:~/nginx/nginx.conf/nginx.conf
          ssh aws-master ./run.sh > /dev/null